*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/
testDockere2e.ps1
# Visual Studio Code
.vscode

# Rider
.idea
.teamcity/.idea
.teamcity/.idea/*
.teamcity/target/*

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/

# NCrunch
*.ncrunchsolution
_NCrunch_USSalesTax.Service/
